@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body {
    background-color: black;
    color: white;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    margin:0px;
    padding: 0px;
    width:100%;
    height:100%;

}

.screen {
    display: grid;
    height:100%;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 100px 5fr;
    gap: 8px;
}

.grid-cell {
    background-color: #5b5a574d;
    border-radius: 11px;
}

.welcome {
    grid-area: 1/1/2/2;
    display: flex;
    align-items: center;
    justify-content: center;

}

#digibeat {
    font-size: 25pt;
    margin: 5px;
    color: #e59fff;
    font-family: 'Comfortaa', cursive;
}

#logo {
    width: 50px;
    height: 50px;
    margin: 10px
}

/*-------------------------playlist----------------------------*/

.playlist-list {
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 20px;

}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.playlist:hover {
    background-color: #6c6c6c85;
}

.playlist div {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.playlist img {
    margin:10px;
    width: 60%;
    aspect-ratio: 1 /1;
    object-fit: cover;
}

/*-----------------playlist name-------------------------------*/

.song-display {
    grid-area: 1/2/3/3;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
}

.playlist-head {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-size: 50pt;
    font-weight: bold;
    width: 90%;
}

#playlist-name{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#left-play, #right-play {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    width:30px;
    height:30px;
    border-radius: 50%;
    color: grey;
    background-color: rgb(68, 68, 68);

}

#left-play:hover , #right-play:hover{
    color:white;
}

/*------------------------Song list-----------------------------*/

.song-list {
    flex: 5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
}

.song-list::-webkit-scrollbar {
    visibility: hidden;
}

.song {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.song:hover {
    background-color: #6c6c6c85;
}

.cover {
    width: 50px;
    height: 50px;
    animation: none;
    /* mymove 2s infinite linear */
}

@keyframes mymove {
    100% {
        transform: rotate(360deg);
    }
}

.song-name,
.artist-name,
.duration {
    pointer-events: none;
}

.song-name {
    width: 40%;
}

.artist-name,
.duration {
    width: 20%;
}

.duration {
    display: flex;
    justify-content: center;
}

/*--------------------playing bar----------------------------------*/


.playing-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 80vh;
    width: 600px;
    height: 25px;
    background-color: rgba(60, 60, 60, 0.741);
    border-radius: 35px;
    padding: 20px;
    gap: 10px;
}

#next {
    margin-left: 5px;
    color:rgb(205, 205, 205);
}

#previous {
    margin-right: 5px;
    color:rgb(205, 205, 205);
}

.play-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.fa-solid {
    font-size: 17pt;
}

#playbutton:hover{
    font-size:25pt;
    cursor: pointer;
}

#previous:hover, #next:hover {
    color:white;
    cursor: pointer;
}

#repeat {
    position: absolute;
    font-size: 12pt;
    right: 20%;
    top: 32px;
    color:rgb(184, 184, 184);
}

#repeat:hover{
    cursor: pointer;
    color: white;
}

#progress-bar,
#progressed {
    height: 5px;
    width: 480px;
    border-radius: 2.5px;
    background-color: gray;
}

#progress-bar{
    width:80%;
}

#progressed {
    position: relative;
    width: 0%;
    background-color: #db77ff;
}

#progress-circle {
    position: absolute;
    right: -5px;
    top: -3.5px;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 50%;
    border-color: #db77ff;
    background-color: white;
    opacity: 0;
}

#progress-bar:hover #progress-circle {
    opacity: 1;
}

.now-playing {
    position: absolute;
    width: 25%;
    top: 20px;
    left: 12%;
    font-weight: bold;
    font-size: 12pt;
    height: 40px;

}

#playing-song-name{
    width:105%;
}

.now-playing *{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

#playing-artist-name {
    position: absolute;
    font-weight: normal;
    height: 20px;
    width: 100%;
    font-size: 10pt;
    top: 20px;
    left: 0px;
}

#playing-time,
#playing-duration {
    position: absolute;
    top: 5px;
    font-size: 9pt;
}

#playing-time {
    left: 5%;
}

#playing-duration {
    right: 5%;
}

@media (max-width:850px){
    .playing-bar{
        width:40%;
    }
}